body{
    background-image: url(../images/21935017_6508503.svg);
}

#crear-form label, #edit-form label{
    font-weight: bold;
    color: ivory;
}

form#crear-form, form#edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#crear-form input, #edit-form input{
    width: 60%;
    height: 30px;
    padding: 2%;
    font-size:small;
    border-radius: 10px;
}

.btn-crear{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.btn-crear button{
    padding: 0.2rem 0.2rem;
    background: rgba(71, 61, 139);
    border: 1px solid rgba(71, 61, 139);
    color: ivory;
    cursor: pointer;
    text-align: center;
    font-size: small;
    margin: 10px;
}


/*===================== RESPONSIVE ========= */
@media (min-width: 650px) {

    #crear-form input, #edit-form input{
        padding: 2%;
        font-size:larger;
    }
  }


  @media (min-width: 1200px) {

    
    .btn-crear{
        width: 60%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .btn-crear button{
        padding: 0.2rem 0.2rem;
        font-size: 20px;
        margin: 10px;
    }

  }
